doctype html
html(lang="en")
    head
        title Furry page :: popup
        meta(charset="UTF-8")
        style(type="text/css")
            :less
                @import '../less/style.less';
    body
        script(src="bundle.js")
        .furpage-plugin__popup